# Homework 2: Data cleaning, reshaping, merging and probability

**Author**: (Write your name here)

## Introduction

This assignment is meant to give you an opportunity to use the tools that we've discussed for the last two weeks. We will be downloading data from the World Bank _World Development Indicators_ and doing a "guided case-study."

In order to run the code below, you will need to install the `world_bank_data` package. This package has built a client library for the World Bank Data API which saves us time by allowing us simplified methods for interfacing with the data. the package can be installed by uncommenting the cell below and running it.

## Section 1: Data ingestion

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import world_bank_data as wb

%matplotlib inline

In this section, we are going to read in a few different datasets from the World Bank.

* **Primary completion rate**, or gross intake ratio to the last grade of primary education, is the number of new entrants (enrollments minus repeaters) in the last grade of primary education, regardless of age, divided by the population at the entrance age for the last grade of primary education. Data limitations preclude adjusting for students who drop out during the final year of primary education.
* **GDP** at purchaser's prices is the sum of gross value added by all resident producers in the economy plus any product taxes and minus any subsidies not included in the value of the products. It is calculated without making deductions for depreciation of fabricated assets or for depletion and degradation of natural resources. Data are in current U.S. dollars.
* **Population** is based on the de facto definition of population, which counts all residents regardless of legal status or citizenship. The values shown are midyear estimates.

In [4]:
countries = wb.get_countries()

dates = "2000:2019"
educ_primary_completion = wb.get_series("SE.PRM.CMPT.ZS", date=dates)
gdp = wb.get_series("NY.GDP.MKTP.CD", date=dates)
populations = wb.get_series("SP.POP.TOTL", date=dates)

In [5]:
countries.head()

,iso2Code,name,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
id,,,,,,,,,
ABW,AW,Aruba,Latin America & Caribbean,,High income,Not classified,Oranjestad,-70.0167,12.51670
AFG,AF,Afghanistan,South Asia,South Asia,Low income,IDA,Kabul,69.1761,34.52280
AFR,A9,Africa,Aggregates,,Aggregates,Aggregates,,NaN,NaN
AGO,AO,Angola,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,IBRD,Luanda,13.2420,-8.81155
ALB,AL,Albania,Europe & Central Asia,Europe & Central Asia (excluding high income),Upper middle income,IBRD,Tirane,19.8172,41.33170

In [6]:
educ_primary_completion.head()

Country     Series                                                    Year
Arab World  Primary completion rate, total (% of relevant age group)  2000    75.54742
                                                                      2001    76.56348
                                                                      2002    77.41953
                                                                      2003    79.82804
                                                                      2004    81.66797
Name: SE.PRM.CMPT.ZS, dtype: float64

In [7]:
gdp.head()

Country     Series             Year
Arab World  GDP (current US$)  2000    7.358105e+11
                               2001    7.240403e+11
                               2002    7.297961e+11
                               2003    8.239927e+11
                               2004    9.650495e+11
Name: NY.GDP.MKTP.CD, dtype: float64

In [8]:
populations.head()

Country     Series             Year
Arab World  Population, total  2000    282344154.0
                               2001    288432163.0
                               2002    294665185.0
                               2003    301113849.0
                               2004    307862843.0
Name: SP.POP.TOTL, dtype: float64

In [9]:
countries.head()

,iso2Code,name,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
id,,,,,,,,,
ABW,AW,Aruba,Latin America & Caribbean,,High income,Not classified,Oranjestad,-70.0167,12.51670
AFG,AF,Afghanistan,South Asia,South Asia,Low income,IDA,Kabul,69.1761,34.52280
AFR,A9,Africa,Aggregates,,Aggregates,Aggregates,,NaN,NaN
AGO,AO,Angola,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,IBRD,Luanda,13.2420,-8.81155
ALB,AL,Albania,Europe & Central Asia,Europe & Central Asia (excluding high income),Upper middle income,IBRD,Tirane,19.8172,41.33170

### Question 1:

We want to create a dataset that has `(country, year)` on the index with  `gdp` (GDP), `pop` (total population), , and `pcr` (primary completion rate) as the columns. We only want to include countries in this dataset so you will need to drop any of the aggregated regions reported by the World Bank (i.e. there are reported values for "Africa" and "Asia" but these are aggregated numbers rather than country specific so we would drop these and the other aggregates -- Hint: the `countries` DataFrame should help you with this).

Use the data that we read in above to create this dataset and call the new dataset `df_full`.

After you've created the full dataset, create a new dataset with only the observations from the year 2018. Call this dataset `df` -- We will use this subset of data for the remainder of the assignment.

### Question 2:

Create a new variable, `loggdp_percapita` that defined as $\log \left( \frac{\text{GDP}}{\text{population}} \right)$.

### Question 3:

Create a scatter plot with `loggdp_percapita` on the x-axis and `pcr` on the y-axis.

What relationships do you observe between these two variables?

### Question 4:

Read the documentation for the `np.histogram2d` function. Create a two-dimensional histogram and store it as `count` and the bin values as `xvals` and `yvals`.

### Question 5:

Turn the numpy array `count` into a joint probability distribution called `jd`.

### Question 6:

Compute the marginal distributions for `loggdp_percapita` and `pcr`

### Question 7:

For each "primary schooling completed" bin, compute the conditional distribution across log GDP per capita.

### Question 8:

Is the joint distribution created from the histogram the only joint distribution that could match with the marginal distributions found in question 6? If not, please find one more joint distribution that could describe the marginals.

### Question 9:

Consider daily sales data from a local convenience store. The data is broken into 12 datasets (one for each month). What function do you think is best to combine this data into a single dataset? Why?

Below is a fake dataset with this information. Please use the function you mention previously to create a `df_sales` using the `jan_sales`, `feb_sales`, ..., `dec_sales` DataFrames.

Answer here about which function and why

In [10]:
# Don't change this cell -- It creates the dataset for you
import calendar

weeks = pd.date_range("2020-01-01", "2020-12-31", freq="W")

dfs_sales = []
for month in range(1, 13):
    days = calendar.monthrange(2020, month)
    weeks = pd.date_range(
        f"2020-{month:0>2}-01", f"2020-{month:0>2}-{days[1]:0>2}",
        freq="d"
    )
    dfs_sales.append(
        pd.DataFrame(
            index=weeks, data={
                "revenue": 2500 + 100*np.random.randn(len(weeks)),
                "customers": np.random.randint(10, 25)
            }
    ))

(jan_sales, feb_sales, mar_sales, apr_sales,
 may_sales, jun_sales, jul_sales, aug_sales,
 sep_sales, oct_sales, nov_sales, dec_sales) = dfs_sales

In [11]:
# Your data merging here

### Question 10:

Using the basketball dataset below, use `set_index`, `reset_index`, `stack`, and `unstack` to replicate the operations below:

In [12]:
url = "https://datascience.quantecon.org/assets/data/bball.csv"
bball = pd.read_csv(url).query("Player != 'Ibaka'")
bball.info()

bball

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 5
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      6 non-null      int64
 1   Player    6 non-null      object
 2   Team      6 non-null      object
 3   TeamName  6 non-null      object
 4   Games     6 non-null      int64
 5   Pts       6 non-null      float64
 6   Assist    6 non-null      float64
 7   Rebound   6 non-null      float64
dtypes: float64(3), int64(2), object(3)
memory usage: 432.0+ bytes

   Year  Player Team  TeamName  Games   Pts  Assist  Rebound
0  2015   Curry  GSW  Warriors     79  30.1     6.7      5.4
1  2016   Curry  GSW  Warriors     79  25.3     6.6      4.5
2  2017   Curry  GSW  Warriors     51  26.4     6.1      5.1
3  2015  Durant  OKC   Thunder     72  28.2     5.0      8.2
4  2016  Durant  GSW  Warriors     62  25.1     4.8      8.3
5  2017  Durant  GSW  Warriors     68  26.4     5.4      6.8

In [13]:
# Operation to replicate
bball.melt(id_vars=["Year", "Player", "Team"], value_vars=["Games", "Pts", "Assist"])

    Year  Player Team variable  value
0   2015   Curry  GSW    Games   79.0
1   2016   Curry  GSW    Games   79.0
2   2017   Curry  GSW    Games   51.0
3   2015  Durant  OKC    Games   72.0
4   2016  Durant  GSW    Games   62.0
5   2017  Durant  GSW    Games   68.0
6   2015   Curry  GSW      Pts   30.1
7   2016   Curry  GSW      Pts   25.3
8   2017   Curry  GSW      Pts   26.4
9   2015  Durant  OKC      Pts   28.2
10  2016  Durant  GSW      Pts   25.1
11  2017  Durant  GSW      Pts   26.4
12  2015   Curry  GSW   Assist    6.7
13  2016   Curry  GSW   Assist    6.6
14  2017   Curry  GSW   Assist    6.1
15  2015  Durant  OKC   Assist    5.0
16  2016  Durant  GSW   Assist    4.8
17  2017  Durant  GSW   Assist    5.4

In [14]:
# Replicate melt operation here

In [15]:
# Operation to replicate
bball.pivot_table(index="Year", columns="Player", values="Pts")

Player  Curry  Durant
Year
2015     30.1    28.2
2016     25.3    25.1
2017     26.4    26.4

In [16]:
# Replicate pivot table here